{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block body %}
<article class="blog-post">
        <h2 ><ya-tr-span data-index="174-0"   data-ch="0" data-type="trSpan" style="visibility: initial !important;">Обо мне.</ya-tr-span></h2>
        <p class="blog-post-meta"><ya-tr-span data-index="175-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Март 2024 </ya-tr-span>
        <p><ya-tr-span data-index="176-0"   data-ch="0" data-type="trSpan" style="visibility: initial !important;">Меня зовут Кирилл. Я - ученик 10-1 класса ЛМИ. Представляю вам свою проектную работу - веб-сайт, полностью разработанный мною.  </ya-tr-span><ya-tr-span
        <hr>
        <h2><ya-tr-span data-index="178-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">О сайте.</ya-tr-span></h2>
        <blockquote class="blockquote">
        </blockquote>
        <p><ya-tr-span data-index="181-0"  data-ch="1" data-type="trSpan" style="visibility: initial !important;">Сайт написан на основе веб-фрейморвка Flask, который основан на языке Python.
        <h3><ya-tr-span data-index="182-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Что такое веб-фреймворк?</ya-tr-span></h3>
        <p><ya-tr-span data-index="183-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;"> Веб-фреймворк — фреймворк, предназначенный для создания динамических веб-сайтов, сетевых приложений, сервисов или ресурсов. Он значительно упрощает разработку приложений и веб-сайтов. Основные его задачи это:</ya-tr-span>
        <ul>
          <li><ya-tr-span data-index="184-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Увеличивают скорость разработки. У программиста будет отлаженное «ядро», которое можно использовать как основу проекта.</ya-tr-span></li>
          <li><ya-tr-span data-index="185-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Уменьшают стоимости задачи. Если программисту не надо создавать сайт с нуля, а можно использовать фреймворк, он возьмёт гораздо меньше денег за работу.</ya-tr-span></li>
          <li><ya-tr-span data-index="186-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Освобождают от рутинных задач. Разработчик может заниматься реализацией нестандартных функций.</ya-tr-span></li>
        </ul>
        <h2><ya-tr-span data-index="223-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Немного о веб-фреймворке Flask, на котором разработан этот сайт.</ya-tr-span></h2>
        <p><ya-tr-span data-index="224-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Flask — фреймворк для создания веб-приложений на языке программирования Python. Относится к категории так называемых микрофреймворков — минималистичных каркасов веб-приложений, сознательно предоставляющих лишь самые базовые возможности.
        <ul>
          <strong><ya-tr-span data-index="225-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Встроенные фичи:</ya-tr-span></strong>
           <li><ya-tr-span data-index="227-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Сервер разработки и отладчик </ya-tr-span>
           <li><ya-tr-span data-index="227-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Интегрированная поддержка модульного тестирования </ya-tr-span>
           <li><ya-tr-span data-index="227-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Поддержка безопасных файлов cookie (сеансы на стороне клиента) </ya-tr-span>
           <li><ya-tr-span data-index="227-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Обширная документация </ya-tr-span>
           <li><ya-tr-span data-index="227-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Расширения для улучшения желаемых функций </ya-tr-span>
        </ul>
        <h2><ya-tr-span data-index="232-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Почему я выбрал именно веб-фреймворк Flask? </ya-tr-span></h2>
        <p><ya-tr-span data-index="233-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Один из значительных преимуществ у такого веб-фреймворка под названием Flask - это простота его изучения. Например: На изучение веб-фреймворка Django уйдет около месяца, когда для изучения Flask(а) вам понадобится чуть больше недели. При этом Flask покрывает все мои потребности.  </ya-tr-span>
      </article>
{% endblock %}