{% extends 'base.html' %}

{% block title %}
Набережная космонавтов
{% endblock %}

{% block body %}
<h1 itemprop="name">Набережная Космонавтов</h1>
<div class="mainRefs g-safeContext"><div class="realpseudo_h2">Содержание</div><ul class="mainRefs_list"><li class="mainRefs_item"><a href="#istoriya">История</a></li><li class="mainRefs_item"><a href="#arhitekturnyi-ansambl">Фото моста</a>

<div class="object-sk__transport">
		  <div class="pseudo_h3">Как добраться до набережной Космонавтов</div>
		    <table style="width:100%;">
    <tbody><tr>
	<td>
		<ins class="shortCard_unit_icon shortCard_unit_icon__bus"></ins>
		Автобус
	</td>
	<td>№ 248 остановка Октябрьская</td>
  </tr>
    <tr>
	<td>
		<ins class="shortCard_unit_icon shortCard_unit_icon__trolleybus"></ins>
		Троллейбус
	</td>
	<td>№№ 2а, 4 остановка Октябрьская</td>
  </tr>
    <tr>
	<td>
		<ins class="shortCard_unit_icon shortCard_unit_icon__mtaxi"></ins>
		Маршрутное такси
	</td>
	<td>№№ 42, 42к, 82, 105 остановка Октябрьская</td>
  </tr>
    </tbody></table>
<a name="istoriya" onclick="return false;"></a><h2 title="История" data-topmenu="on">История </h2>
    <p>Еще в&nbsp;далеком 1902 году городской управой впервые поднялся вопрос о&nbsp;необходимости строительства набережной зоны в&nbsp;Саратове, но&nbsp;денег, чтобы начать строительство, в&nbsp;бюджете не&nbsp;оказалось. Повторно эту тему подняли только в&nbsp;1906 году, но&nbsp;изыскать средства для благоустройства не&nbsp;смогли и&nbsp;тогда.</p>
<p>При переходе власти в&nbsp;руки народа вопрос о&nbsp;благоустройстве прибрежной зоны, строительстве необходимых сооружений и&nbsp;культурном озеленении возник снова. Предложенный в&nbsp;1922&nbsp;г. профессором Фроловым доклад на&nbsp;специальном заседании Губкомотдела доказывал необходимость срочного использования комплексных мер для наведения санитарного порядка на&nbsp;берегах Волги. Проект набережной предусматривал строительство 2 ярусов, с&nbsp;возможным затоплением первого в&nbsp;половодье. Следующий проект будущей набережной появился в&nbsp;1926&nbsp;г., он&nbsp;также предлагал двухъярусную конструкцию, но&nbsp;помешало ставшее уже традиционным отсутствие денег. В&nbsp;1947 году городские власти нарушили традицию и, отмахнувшись от&nbsp;амбициозных проектов, сделали простую планировку берегового откоса, деревянную лестницу и&nbsp;сходни.</p>
    <p>При переходе власти в&nbsp;руки народа вопрос о&nbsp;благоустройстве прибрежной зоны, строительстве необходимых сооружений и&nbsp;культурном озеленении возник снова. Предложенный в&nbsp;1922&nbsp;г. профессором Фроловым доклад на&nbsp;специальном заседании Губкомотдела доказывал необходимость срочного использования комплексных мер для наведения санитарного порядка на&nbsp;берегах Волги. Проект набережной предусматривал строительство 2 ярусов, с&nbsp;возможным затоплением первого в&nbsp;половодье. Следующий проект будущей набережной появился в&nbsp;1926&nbsp;г., он&nbsp;также предлагал двухъярусную конструкцию, но&nbsp;помешало ставшее уже традиционным отсутствие денег. В&nbsp;1947 году городские власти нарушили традицию и, отмахнувшись от&nbsp;амбициозных проектов, сделали простую планировку берегового откоса, деревянную лестницу и&nbsp;сходни.</p>
<p>Начало строительства ГЭС у&nbsp;Волгограда, дополнительный подъем воды и&nbsp;опасность размыва береговой линии помогли выйти из&nbsp;порочного круга. В&nbsp;1959&nbsp;г. институт Гипрогор начинает разработку нового проекта, к&nbsp;строительству привлекаются народные массы, каждый район города отвечает за&nbsp;свою часть будущей набережной. Невероятный энтузиазм населения и&nbsp;обязательные в&nbsp;те&nbsp;времена соцсоревнования сделали чудо.</p>
<p>В&nbsp;настоящее время набережная длиной в&nbsp;1,5&nbsp;км имеет 4 яруса (между Бабушкиным взвозом и&nbsp;Обуховским). Первый ярус предназначен для пешеходных прогулок вдоль великой реки, второй ярус&nbsp;— это зеленая зона из&nbsp;многолетних цветов и&nbsp;красочных композиций. На&nbsp;третьей террасе находится бульвар, где созданы живописные группы из&nbsp;23 видов деревьев и&nbsp;18 сортов кустарников рассортированные по&nbsp;высоте, виду кроны и&nbsp;окраске листвы.</p>
<p>В 2021 году&nbsp;в&nbsp;рамках нацпроекта «Жилье и&nbsp;городская среда» провели реконструкцию набережной Космонавтов от&nbsp;Бабушкиного взвоза до&nbsp;Московской. Хотя работы и завершились с опозданием — в конце декабря, внешний вид прогулочной зоны все же заметно преобразился. Территорию озеленили, заменили плитку и уложили новое асфальтовое покрытие, установили видеонаблюдение. Вдоль берега появились спортивные и игровые площадки.&nbsp;</p>
<p>Набережная Космонавтов&nbsp;— это гостеприимные ворота города. Саратов начинается от&nbsp;Волги, и&nbsp;поэтому красочная набережная&nbsp;— настоящая визитная карточка города.</p>
<div class="objectBlockTitle objectBlockTitle_lineAfter">
<a name="arhitekturnyi-ansambl" onclick="return false;"></a><h2>Фото набережной</h2>

<img style="width:100%;" src="https://avatars.dzeninfra.ru/get-zen_doc/2746214/pub_63c23174430f7507e6149f02_63c2336514f0c11f096bf294/scale_1200" alt="PA146255.JPG" title="">
		</div>

{% endblock %}