{% extends 'base.html' %}

{% block title %}
Лимонарий
{% endblock %}

{% block body %}

<h1 itemprop="name">Лимонарий Саратова</h1>


<img src="https://img.tourister.ru/files/3/4/1/3/5/6/3/5/original.jpg" border="0" decoding="async" style="min-height:300px;" alt="Лимонарий Саратова">
<div class="object-sk__summary">

	  	  <div class="object-sk__summary_right">
						<div class="object-sk__summaryBl">
		  <div class="object-sk__summaryBl_In">
			<div>Режим работы Лимонария Саратова:</div>
			<meta itemprop="openingHours" content="По предварительной записи">			По предварительной записи		  </div>
		</div>
										<div class="object-sk__summaryBl">
		  <div class="object-sk__summaryBl_In">
			<div>Цена билета</div>
			Взрослые (с 18 лет) — 350 руб.<br>
Старшеклассники и студенты — 300 руб.<br>
Дети (3-14 лет) — 250 руб.<br>
Дети до 3 лет — бесплатно<br>

		  </div>
		</div>
										<div class="object-sk__summaryBl">
		  		  <div class="object-sk__summaryBl_In">
			<div>Телефон Лимонария в Саратове (предварительная запись)</div>
			<span itemprop="telephone">+7 (903) 328-37-95</span>		  </div>
		  		  <div class="object-sk__summaryBl_In">
			<div>Телефон Лимонария в Саратове</div>
			<span itemprop="telephone">+7 (8452) 53-37-95</span>		  </div>
		  		</div>
										<div class="object-sk__summaryBl">
		  <div class="object-sk__summaryBl_In">
			<div>Официальный сайт Саратовского лимонария</div>
			<a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'siteObject');" href="http://лимонарий.рф/" target="_blank">http://лимонарий.рф</a>		  </div>
		</div>
												<div class="object-sk__summaryBl">
		  <div class="object-sk__summaryBl_In">
			<div>email</div>
			<meta itemprop="email" content="ask@limonarij1.ru">			<a href="mailto:ask@limonarij1.ru">ask@limonarij1.ru</a>
		  </div>
		  		  		</div>
																								<div class="object-sk__summaryBl">
		  <div class="object-sk__summaryBl_In">
				<div class="shortCard_unit_icon_float">
	<ins class="shortCard_unit_icon shortCard_unit_icon__vk"></ins>
	<a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'objectSocial');" href="https://vk.com/limonarij" target="_blank">ВКонтакте</a>
	</div>

		  </div>
		</div>
		</div>
		<div>Где находится в Саратове лимонарий:</div>
		<span itemprop="streetAddress">Соколовая гора (ориентир ул. Геофизика 4, проходная РуссНефть)</span><a style="display:block;cursor:pointer;" onclick="show_map(); return false;"></a>
	  </div>

				<div class="object-sk__summaryBl_In" style="margin-top:25px; margin-bottom:0px;">
			<div style="margin-bottom:8px;">Рейтинг <span style="text-transform:none !important">TripAdvisor</span></div>
			<div class="tripa_block">
								<div class="tripa_rating">
					<img src="https://www.tripadvisor.ru/img/cdsi/img2/ratings/traveler/4.5-60590-5.svg" alt="Рейтинг TripAdvisor - 4.5">
					<a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'tripadvisor');" href="https://tp.media/r?marker=11675.object(28408)&amp;p=4456&amp;u=https%3A%2F%2Fwww.tripadvisor.ru%2FAttraction_Review-g798121-d6833923-Reviews-Limonariy-Saratov_Saratov_Oblast_Volga_District.html%3Fm%3D60590" target="blank">72 отзыва</a>

				</div>
				<div class="clear"></div>
													<span class="tripa_rating_bar">
						<span class="tripa_rating_text">Отлично</span>
						<span class="tripa_rating_line" style="width:120px;"><span class="tripa_rating_subline" style="width:75%;"></span></span>
						<span class="tripa_rating_text2">75%</span>
						<div class="clear"></div>
					</span>
					<div class="clear"></div>
									<span class="tripa_rating_bar">
						<span class="tripa_rating_text">Очень хорошо</span>
						<span class="tripa_rating_line" style="width:120px;"><span class="tripa_rating_subline" style="width:18%;"></span></span>
						<span class="tripa_rating_text2">18%</span>
						<div class="clear"></div>
					</span>
					<div class="clear"></div>
									<span class="tripa_rating_bar">
						<span class="tripa_rating_text">Неплохо</span>
						<span class="tripa_rating_line" style="width:120px;"><span class="tripa_rating_subline" style="width:1%;"></span></span>
						<span class="tripa_rating_text2">1%</span>
						<div class="clear"></div>
					</span>
					<div class="clear"></div>
									<span class="tripa_rating_bar">
						<span class="tripa_rating_text">Плохо</span>
						<span class="tripa_rating_line" style="width:120px;"><span class="tripa_rating_subline" style="width:1%;"></span></span>
						<span class="tripa_rating_text2">1%</span>
						<div class="clear"></div>
					</span>
					<div class="clear"></div>
									<span class="tripa_rating_bar">
						<span class="tripa_rating_text">Ужасно</span>
						<span class="tripa_rating_line" style="width:120px;"><span class="tripa_rating_subline" style="width:4%;"></span></span>
						<span class="tripa_rating_text2">4%</span>
						<div class="clear"></div>
					</span>
					<div class="clear"></div>
								<div class="clear"></div>
			</div>
		</div>

	</div>
  </div>
  <div style="clear:both;"></div>
</div>

<p>Лимонарий Саратова&nbsp;— тропический уголок, где выращиваются разные виды лимонов и&nbsp;других экзотических фруктов и&nbsp;растений. Он&nbsp;находится к&nbsp;северо-востоку от&nbsp;центра города на&nbsp;<a >Соколовой горе</a>.</p>
<p>На&nbsp;первый взгляд Саратовский лимонарий может показаться непримечательным: это небольшая теплица в&nbsp;тесном переулке среди гаражей и&nbsp;промзоны. Однако после визита сюда большинство его посетителей думают иначе. В&nbsp;лимонарии выращиваются порядка 30 видов растений, в&nbsp;том числе фейхоа, маракуйя, кофе. Здесь можно устроить фотосессию, насладиться атмосферой джунглей, а&nbsp;также приобрести вкусные и&nbsp;ароматные плоды, совершенно не&nbsp;похожие на&nbsp;те, что продают в&nbsp;магазинах.</p>
<img class="" border="0" src="https://img.tourister.ru/files/3/4/1/3/5/6/2/2/clones/870_580_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Теплица Саратовского лимонария">
<p>Кроме того, визит в&nbsp;такой питомник полезен для здоровья. Благоухающий цветами воздух также богат фитонцидами, которые подавляют рост и&nbsp;развитие болезнетворных бактерий. Самочувствие посетителей заметно улучшается, а&nbsp;вслед за&nbsp;ним появляется отличное настроение на&nbsp;весь оставшийся день.</p>



{% endblock %}