{% extends 'base.html' %}

{% block title %}
Мост
{% endblock %}

{% block body %}


<h1 itemprop="name">Саратовский мост («Саратов – Энгельс»)</h1>
<div class="mainRefs g-safeContext"><div class="realpseudo_h2">Содержание</div><ul class="mainRefs_list"><li class="mainRefs_item"><a href="#stroitelstvo">Строительство</a></li><li class="mainRefs_item"><a href="#konstrukciya">Конструкция</a></li><li class="mainRefs_item"><a href="#kamera">Камера</a></li><li class="mainRefs_item"><a href="#kak-proehat">Как проехать</a></li></a></li></ul></div>

<div class="g-text g-safeContext p_content p_content_h2_nobg"><p>Саратовский мост (старый) через Волгу соединяет Саратов на&nbsp;правом берегу реки и&nbsp;Энгельс&nbsp;— на&nbsp;левом. Предназначен для автомобилей, имеется также тротуар для пешеходов. Мост Саратова служит связующей дорогой уже более 50 лет.</p><div class="trstr_acrt_multipoint_61"><div class="bshow_point_61_wrapper"><div class="bshow_point_61" id="trstr_adv_point_61_0_0"><div class="banner_wrapper v3">

</div><script type="text/javascript">jQuery.ajax({ url: "/query", data: { "m": "adver->BannerViewAjax", "id": "2197" }, type: "POST", async:true });</script><script type="text/javascript">linking_adver_view("61_0_0", "59dacb0a00000288803fe0000420003100301a9bd283ca551f8c19b381635dc957c5dc914e14241676b2c280");</script></div></div><div class="clear"></div></div>
<p>Для пешей прогулки по&nbsp;путепроводу стоит выбирать нежаркий день из-за большой длины моста «Саратов&nbsp;— Энгельс», на&nbsp;котором негде укрыться от&nbsp;солнца. Ночью здесь включается красивая подсветка, обновленная по&nbsp;завершении последнего ремонта. Мост через Волгу города Саратов сейчас является одной из&nbsp;визитных карточек города. В&nbsp;2011 году он&nbsp;вошел в&nbsp;список 20 архитектурно-исторических достопримечательностей Приволжья. Длина моста в&nbsp;Саратове через Волгу и&nbsp;его необычная архитектура сделали его настоящим символом города.</p><div id="lx_685314" data-cnt="1" class="__lxG__multi __lxG__multi_lx_685314 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="680193" data-base-original-id="673426"><style>

	#lx_685314 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-685314-1"><div></div></div></div>

<div class="img_big" style="width: 100%;">

</div>
<a name="stroitelstvo" onclick="return false;"></a><h2 title="Строительство" data-topmenu="on">Строительство Саратовского моста</h2>
<p>Проект был утвержден в&nbsp;1958 году, торжественное открытие моста города Саратова состоялось в&nbsp;1965 году. На&nbsp;тот момент считалось, что самый длинный мост&nbsp;— в&nbsp;Саратове, когда речь шла о&nbsp;мостовых дорогах для автомобилей во&nbsp;всей Европе. Автор проекта&nbsp;— В. Иодзевич. Мост в&nbsp;Саратове через Волгу&nbsp;— самый уникальный проект мостостроения в&nbsp;свое время не&nbsp;только из-за большой протяженности, но&nbsp;и&nbsp;благодаря переменной высоте сооружения. В&nbsp;работах применялись также новейшие технологии.</p>
<p>Строительство моста в&nbsp;Саратове шло ударными темпами, в&nbsp;нем принимали участие и&nbsp;добровольцы&nbsp;— 12 комсомольских бригад, в&nbsp;основном, студенческих. Процесс возведения изображен в&nbsp;духе соцреализма в&nbsp;кинокартине Олега Ефремова «Строится мост».</p>
<p>В&nbsp;процессе масштабного строительства моста через Волгу в&nbsp;Саратове были проведены работы по&nbsp;облагораживанию прилегающих территорий, в&nbsp;частности, в&nbsp;порядок привели <a >набережную Космонавтов</a> и&nbsp;прибрежную территорию Энгельса. В&nbsp;честь открытия движения состоялось шествие, на&nbsp;котором встретились жители некогда разделенных рекой городов.</p>
<p>В&nbsp;1966 году по&nbsp;мосту «Саратов&nbsp;— Энгельс» была запущена междугородная троллейбусная линия, связывающая эти два города. В&nbsp;2004 году из-за падения нескольких опор контактной сети линию полностью демонтировали, так как осмотр показал неспособность Саратовского моста выдерживать такую нагрузку. Во&nbsp;время работ было принято решение о закрытии моста в&nbsp;Саратове на&nbsp;ночь.</p>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="https://sportishka.com/uploads/posts/2023-12/1701690291_sportishka-com-p-samie-krasivie-mosti-krasivo-67.jpg">
			<a href="https://sportishka.com/uploads/posts/2023-12/1701690291_sportishka-com-p-samie-krasivie-mosti-krasivo-67.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Саратовский мост">
			<meta itemprop="width" content="2400px">
			<meta itemprop="height" content="1600px">
		<div class="img_rate2015_image"><a name="img_24251523"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_24251523"><div class="img_rate2015_items_but"></div></div><a href="https://sportishka.com/uploads/posts/2023-12/1701690291_sportishka-com-p-samie-krasivie-mosti-krasivo-67.jpg" target="_blank" rel="noopener"><img border="0" src="https://sportishka.com/uploads/posts/2023-12/1701690291_sportishka-com-p-samie-krasivie-mosti-krasivo-67.jpg" width="100%" style="width:100%;height:auto;" decoding="async" alt="Саратовский мост («Саратов – Энгельс»)"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">
				<span style="width:100%;height:55px;top:-55px;margin:0 auto;float:none;display:block;">
					<a href="https://sportishka.com/uploads/posts/2023-12/1701690291_sportishka-com-p-samie-krasivie-mosti-krasivo-67.jpg" target="_blank" class="img_rate2015_items_original" title="Ссылка на оригинал фотографии">&nbsp;</a>
				</span>
			</div></div></div>

<a name="remont-mosta-v-saratove" onclick="return false;"></a><h3>Ремонт моста в&nbsp;Саратове</h3>
<p>Необходимость в&nbsp;ремонте Саратовского моста проявилась в&nbsp;2000-х годах, значимую роль в&nbsp;приближении путепровода к&nbsp;аварийному состоянию сыграла большая транспортная загруженность. На&nbsp;протяжении 8 лет, начиная с&nbsp;2005 года, велись различные ремонтные работы. Реконструкция моста Саратова включала в&nbsp;себя замену оградительных перил, восстановление тротуара, частичное оборудование системы освещения.</p>
<p>Масштабный ремонт моста «Саратов&nbsp;— Энгельс» и&nbsp;его дорожного полотна проведен также в&nbsp;2014 году. Работы велись около 4,5&nbsp;месяцев, в&nbsp;это время по&nbsp;мосту пропускали только автобусы. После ремонта старый мост Саратова был оборудован третьей полосой для автомобилей, по&nbsp;отзывам, движение по&nbsp;ней открывают по&nbsp;одному из&nbsp;направлений в&nbsp;зависимости от&nbsp;транспортной нагрузки на&nbsp;другие две полосы.</p>
<p>Рассматривается вопрос о&nbsp;том, чтобы снести мост Саратова или сделать его пешеходным после окончания срока службы (20 лет после ремонта). Вместо старого моста Саратова планируется возвести&nbsp;другой городской путепровод. Точной даты, когда будет закрыт мост «Саратов&nbsp;— Энгельс», пока не&nbsp;называют.</p><div class="trstr_acrt_multipoint_61"><div class="bshow_point_61_wrapper"><div class="bshow_point_61" id="trstr_adv_point_61_1_0"><div class="banner_wrapper v3">

</div><script type="text/javascript">jQuery.ajax({ url: "/query", data: { "m": "adver->BannerViewAjax", "id": "2480" }, type: "POST", async:true });</script><script type="text/javascript">linking_adver_view("61_1_0", "e48babe200000308807fc000042000310030227a7aa64f28e5274b0461b77e66a24f8bb9229c28487245d5f100");</script></div></div><div class="clear"></div></div>
<p>В&nbsp;2000 году в&nbsp;15&nbsp;км к&nbsp;северо-востоку от&nbsp;старого моста Саратова была открыта первая очередь нового Саратовского моста близ поселка Пристанное, в&nbsp;2009 году состоялось открытие второй очереди.</p>

</div>
<a name="konstrukciya" onclick="return false;"></a><h2>Конструкция</h2>
<p>Мост Саратова через Волгу имеет железобетонную арочную конструкцию с&nbsp;пролетами, которые называют «птичками». Объект держится на&nbsp;39 опорах. Глубина реки в&nbsp;районе моста г.&nbsp;Саратов составляет 14&nbsp;м.</p><div id="lx_685314" data-cnt="2" class="__lxG__multi __lxG__multi_lx_685314 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="680193" data-base-original-id="673426"><style>
	#lx_685314 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-685314-2"><!-- R-A-463377-12 --><div></div></div></div>
<div class="text_block2">Длина моста в&nbsp;Саратове&nbsp;— 2&nbsp;825&nbsp;метров, ширина составляет 15&nbsp;метров.</div>
<p>На&nbsp;фото Саратовского моста видно, что пролеты имеют разную высоту, из-за этого его иногда называют «горбатым». Более высокие участки ближе к&nbsp;Саратову сделаны для того, чтобы здесь могли пройти высокие суда, под заниженной частью ближе к&nbsp;Энгельсу расположен <a >городской пляж</a> на&nbsp;искусственном острове. Идея пролетов с&nbsp;разной высотой позволила сэкономить на&nbsp;материалах, так как на&nbsp;более низкие пролеты их&nbsp;потребовалось значительно меньше. Суда проходят под тремя пролетами&nbsp;— седьмым, восьмым и&nbsp;девятым.</p>
<p>Высота моста Саратова от&nbsp;нормального подпорного уровня меняется на&nbsp;разных участках:</p>
<ul>
<li>Пролеты №&nbsp;7 и&nbsp;9&nbsp;— 19,5&nbsp;м;</li>
<li>Пролет №&nbsp;8&nbsp;— 23,1&nbsp;м.</li>
</ul>
<p>На&nbsp;нижних участках, не&nbsp;предназначенных для прохода судов, высота Саратовского моста снижается на&nbsp;12&nbsp;метров.</p>


</div>
<a name="kamera" onclick="return false;"></a><h2>Камера</h2>
<p>Мост Саратова можно увидеть в&nbsp;режиме онлайн. С&nbsp;помощью веб-камеры Саратова на&nbsp;мост можно в&nbsp;любое время дня посмотреть на&nbsp;ситуацию на&nbsp;дороге, съезд к&nbsp;мосту и&nbsp;набережной со&nbsp;стороны города. Всю длину Саратовского моста сложно охватить, на&nbsp;онлайн-камере Саратова мост виден хорошо со&nbsp;стороны города, вдалеке виднеется берег Энгельса. Можно также посмотреть на&nbsp;саму реку и&nbsp;понять, стоит&nbsp;ли сегодня планировать водную прогулку. Но&nbsp;наибольшей популярностью камера пользуется у&nbsp;тех, кто хочет увидеть сейчас пробки на&nbsp;мосту «Саратов&nbsp;— Энгельс».</p>
<p>Если не&nbsp;работает видеорежим, то&nbsp;можно посмотреть на&nbsp;последний скриншот камеры моста Саратова. Так, благодаря постоянно обновляемой информации, веб-камера моста «Саратов&nbsp;— Энгельс» помогает автомобилистам спланировать свой маршрут, чтобы избежать пробок.</p>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="https://auto.sarbc.ru/webcams/?fr=4&amp;place=5" class="ext_link" target="_blank">Мост Саратова онлайн</a></div>
</div>


<a name="kak-proehat" onclick="return false;"></a><h2 title="Как проехать" data-topmenu="on">Как проехать к&nbsp;Саратовскому мосту</h2>
<p>Мост проходит от&nbsp;набережной Космонавтов на&nbsp;ул.&nbsp;Большая Затонская в&nbsp;Саратове к&nbsp;ул.&nbsp;Лесозаводская в&nbsp;Энгельсе. Чтобы проехать по&nbsp;самому мосту между Саратовом и&nbsp;Энгельсом, нужно садиться на&nbsp;один из&nbsp;следующих автобусов: №&nbsp;246, 246П, 247, 248, 274Б, 282Б, 284, 284а, 284Б, 284к, 379, со&nbsp;стороны Саратова ближайшая остановка&nbsp;— <a >«Предмостовая площадь»</a>, со&nbsp;стороны Энгельса&nbsp;— <a >«Мосотряд»</a>. Эти автобусы также делают остановку «Городской пляж» на&nbsp;мосту. К&nbsp;пляжу на&nbsp;острове оборудован спуск с&nbsp;моста.</p>
<p>Если вы&nbsp;планируете идти по&nbsp;мосту Саратова на&nbsp;Волге пешком, то&nbsp;можно доехать на&nbsp;маршрутном такси №&nbsp;8, 25, 42к, 93, 95, 97, до остановки «Предмостовая площадь» возле старого моста со&nbsp;стороны Саратова.</p>


<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://transuprsar.ru/schems.aspx" class="ext_link" target="_blank">Расписание общественного транспорта Саратова</a></div>
</div>
<p>До&nbsp;Саратовского моста через Волгу можно также доехать на&nbsp;такси, заказав машину с&nbsp;помощью сервисов Такси Везёт (приложение RuTaxi), Яндекс. Такси, Maxim.</p>









{% endblock %}