{% extends 'base.html' %}

{% block title %}
Музей Им. А.Н. Радищева
{% endblock %}

{% block body %}

<h1 itemprop="name">Художественный музей имени Радищева в Саратове</h1>

<div class="g-text g-safeContext p_content p_content_h2_nobg"><p>Художественный музей имени А. Н. Радищева расположен на&nbsp;Театральной площади рядом с&nbsp;Театром оперы и&nbsp;балета в&nbsp;самом центре Саратова. Это один из&nbsp;старейших музеев в&nbsp;России и&nbsp;самый значимый среди аналогичных провинциальных культурных учреждений страны.</p>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://vm1.culture.ru/vtour/tours/khudozhestvennyy_muzey_radishcheva/pano.php" class="ext_link" target="_blank">Виртуальный тур по&nbsp;музею А. Н. Радищева с&nbsp;аудиогидом</a></div>
</div>
<p>Художественный музей в&nbsp;Саратове активно развивается как научно-просветительский центр города и&nbsp;региона в&nbsp;целом. Здесь проводятся различные образовательные мероприятия, кинопоказы, интерактивные семейные занятия выходного дня, открытые экскурсии.</p>
<p>В&nbsp;структуру Саратовского художественного музея имени Радищева входят и&nbsp;другие заведения. Полный перечень филиалов и&nbsp;подразделений можно посмотреть на&nbsp;<a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://radmuseumart.ru/museum/structure/" class="ext_link" target="_blank">официальном сайте музея Радищева</a>.</p>


</div>
<a name="vystavki" onclick="return false;"></a><h2 title="Выставки" data-automenu="off">Выставки в&nbsp;музее Радищева</h2>
<p>Ежемесячно в&nbsp;музее открываются новые временные выставки по&nbsp;разным тематикам&nbsp;— от&nbsp;живописи до&nbsp;религии в&nbsp;искусстве. Любопытен цикл выставок одного предмета. В&nbsp;ходе таких выставок экспонируется старинный предмет со&nbsp;знаменательной историей или являющийся ярким представителем своего времени. Подобные выставки имеет смысл посещать только в&nbsp;сопровождении экскурсовода.</p><div id="lx_706981" data-cnt="1" class="__lxG__multi __lxG__multi_lx_706981 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="712102" data-base-original-id="673426"><style>
	#lx_706981 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-706981-1"><!-- R-A-463377-101 --><div></div></div></div>
<p>Партнерами по&nbsp;выставочным проектам Саратовского музея имени Радищева являются <a >Третьяковская галерея</a>, <a >Русский музей</a>, <a >Эрмитаж</a> и&nbsp;другие крупнейшие музеи страны.</p>
<p>Также регулярно экспонируются шедевры коллекции музея имени Радищева. Проходят лекции по&nbsp;искусству, истории и&nbsp;тонкостях музейного дела.</p>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://radmuseumart.ru/calendar/the-playbill/" class="ext_link" target="_blank">Афиша музея Радищева в&nbsp;Саратове на&nbsp;официальном сайте</a></div>
</div>
<a name="kollekcii" onclick="return false;"></a><h2 data-automenu="off">Коллекции</h2>
<p>Сегодня коллекция музея насчитывает более 30 тыс. предметов. Особой гордостью является собрание произведений отечественного, в&nbsp;том числе древнерусского, искусства&nbsp;— иконы (с&nbsp;начала XV&nbsp;до&nbsp;конца XX&nbsp;вв.), предметы церковной утвари, уникальные образцы старой типографии, портретная живопись (XVIII- XIX вв.). Собрание русского искусства ХIХ-ХХ вв. представлено полотнами Серова, Коровина, Врубеля, Борисова-Мусатова, Петрова-Водкина.</p>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/4/original.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Саратовский художественный музей имени А. Н. Радищева">
			<meta itemprop="width" content="1280px">
			<meta itemprop="height" content="847px">
		<div class="img_rate2015_image"><a name="img_22852564"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_22852564"><div class="img_rate2015_items_but"></div></div><a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/4/original.jpg" target="_blank" rel="noopener"><img class="" border="0" src="https://img.tourister.ru/files/2/2/8/5/2/5/6/4/clones/870_576_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Художественный музей имени Радищева в Саратове"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">
				<span style="width:100%;height:55px;top:-55px;margin:0 auto;float:none;display:block;">
					<a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/4/original.jpg" target="_blank" class="img_rate2015_items_original" title="Ссылка на оригинал фотографии">&nbsp;</a>
				</span>
			</div></div></div>
<div class="img_big" style="width: 100%;">
<div class="img_big1 img_big2">© <a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="https://vk.com/radmuseumart" class="ext_link" target="_blank">Официальная группа художественного музея Радищева вконтакте</a></div>
</div>
<p>Экспонаты музея объединены в&nbsp;5 тематических коллекций:</p>
<ul>
<li><strong>Русский авангард.</strong> Картины в&nbsp;музее Радищева Саратова в&nbsp;данной коллекции&nbsp;— это шедевры звезд мирового авангарда: Кандинского, Малевича, Татлина, Шагала и&nbsp;других художников. Также есть работы местных, саратовских авангардистов.</li>
<li><strong>Европейское искусство.</strong> В&nbsp;коллекции&nbsp;— картины художников барбизонской школы, голландских и&nbsp;фламандских мастеров XVII–XVIII веков, французских художников XVII–XIX веков.</li>
<li><strong>Русское религиозное искусство.</strong> Обширная коллекция включает в&nbsp;себя прикладное искусство, церковное серебро, скульптуру, живопись и&nbsp;гравюры.</li>
<li><strong>Коллекция М. Н. Галкина-Враского.</strong> Известный государственный деятель императорской России активно участвовал в&nbsp;создании музея Радищева в&nbsp;Саратове. Он&nbsp;завещал саратовскому музею свою обширную коллекцию, состоящую из&nbsp;художественных предметов разных стран&nbsp;— от&nbsp;Цейлона и&nbsp;Японии до&nbsp;США и&nbsp;Италии.</li>
<li><strong>Графика А. П. Боголюбова.</strong> Коллекция состоит из&nbsp;35 графических листов с&nbsp;работами художника Алексея Боголюбова.</li>
</ul>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/3/original.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Саратовский художественный музей имени А. Н. Радищева">
			<meta itemprop="width" content="1280px">
			<meta itemprop="height" content="851px">
		<div class="img_rate2015_image"><a name="img_22852563"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_22852563"><div class="img_rate2015_items_but"></div></div><a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/3/original.jpg" target="_blank" rel="noopener"><img class="" border="0" src="https://img.tourister.ru/files/2/2/8/5/2/5/6/3/clones/870_579_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Художественный музей имени Радищева в Саратове"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">
				<span style="width:100%;height:55px;top:-55px;margin:0 auto;float:none;display:block;">
					<a href="https://img.tourister.ru/files/2/2/8/5/2/5/6/3/original.jpg" target="_blank" class="img_rate2015_items_original" title="Ссылка на оригинал фотографии">&nbsp;</a>
				</span>
			</div></div></div>
<div class="img_big" style="width: 100%;">
<div class="img_big1 img_big2">© <a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="https://vk.com/radmuseumart" class="ext_link" target="_blank">Официальная группа художественного музея Радищева вконтакте</a></div>
</div>
<a name="istoriya" onclick="return false;"></a><h2 data-automenu="off">История</h2>
<p>Музей Радищева, единственный на&nbsp;тот момент общедоступный музей Российской империи, открылся в&nbsp;1885 году. Основу коллекции составили произведения искусства, переданные в&nbsp;дар городу художником А. П. Боголюбовым, который приходился внуком писателю и&nbsp;философу Александру Николаевичу Радищеву.</p>
<p>В&nbsp;первые годы создания Саратовский художественный музей А. Н. Радищева представлял собой художественно-промышленный тип музея: вместе с&nbsp;картинами и&nbsp;другими художественными произведениями здесь экспонировались предметы промышленного производства и&nbsp;образцы работ ремесленников. На&nbsp;базе коллекции обучались студенты местного рисовального училища.</p>
<p>В&nbsp;период Первой мировой войны, в&nbsp;музее имени А. Н. Радищева проходили благотворительные выставки в&nbsp;пользу раненных солдат. В&nbsp;промежуток между Революцией и&nbsp;Второй мировой войной в&nbsp;музее, преимущественно, проходили выставки саратовских художников. Во&nbsp;второй половине XX&nbsp;века проходили выставки не&nbsp;только советских художников и&nbsp;творцов Российской империи, но&nbsp;и&nbsp;иностранных артистов: Рембрандта, да&nbsp;Винчи; а&nbsp;также народных мастеров из&nbsp;разных стран.</p>
<p><strong>Панорамный вид на&nbsp;залы Саратовского музея им.&nbsp;Радищева:</strong></p>
<p></p><iframe class="" width="100%" height="500" frameborder="0" style="border: 0;" allowfullscreen="allowfullscreen" src="https://www.google.com/maps/embed?pb=!4v1558949868874!6m8!1m7!1sCAoSLEFGMVFpcE1ETldTU3VuMUh6V1g3d2hteWdFRi1jdkNUZkFYeVpIeU1TLWJ5!2m2!1d51.53225181718103!2d46.03494754203962!3f351.8091550246764!4f10.532843740416752!5f0.7820865974627469"></iframe><p></p>
<a name="ceny" onclick="return false;"></a><h2 title="Цены" data-automenu="off">Цены в&nbsp;музее Радищева в&nbsp;Саратове</h2>
<p>Цены на&nbsp;билеты в&nbsp;музей Радищева зависят от&nbsp;посещаемых выставок.</p>
<p><strong>Постоянная экспозиция:</strong></p>
<ul>
<li><strong>Взрослый билет</strong>&nbsp;— 200 рублей.</li>
<li><strong>Для студентов, пенсионеров и&nbsp;членов многодетных семей</strong>&nbsp;— 100 рублей.</li>
</ul>
<p>Стоимость билетов на&nbsp;временные выставки указывается в&nbsp;анонсах на&nbsp;официальном сайте музея Радищева. Уточнить цену можно по&nbsp;справочному телефону музея: 8 (8452) 26-16-06.</p>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://radmuseumart.ru/visitors/tickets/" class="ext_link" target="_blank">Цены на&nbsp;групповые экскурсии и&nbsp;лекции</a></div>
</div>
<a name="rezhim-raboty" onclick="return false;"></a><h2 data-automenu="off">Режим работы</h2>
<p>Музей Радищева работает каждый день, кроме понедельника:</p><div id="lx_706981" data-cnt="2" class="__lxG__multi __lxG__multi_lx_706981 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="712102" data-base-original-id="673426"><style>
	#lx_706981 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-706981-2"><!-- R-A-463377-101 --><div></div></div></div>
<ul>
<li><strong>Вторник-среду:</strong> с&nbsp;10:00 до&nbsp;18:00</li>
<li><strong>Четверг-пятницу:</strong> с&nbsp;12:00 до&nbsp;20:00</li>
<li><strong>Субботу-воскресенье:</strong> с&nbsp;10:00 до&nbsp;18:00</li>
</ul>
<p>Последний рабочий день месяца&nbsp;— санитарный день.</p>
<p>Касса закрывается за&nbsp;час до&nbsp;окончания рабочего дня музея. Технические перерывы в&nbsp;работе кассы указаны на&nbsp;<a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://radmuseumart.ru/visitors/opening-hours/" class="ext_link" target="_blank">официальном сайте музея Радищева</a>.</p>

</div><script type="text/javascript">jQuery.ajax({ url: "/query", data: { "m": "adver->BannerViewAjax", "id": "2480" }, type: "POST", async:true });</script><script type="text/javascript">linking_adver_view("61_0_1", "e48babe200000308807fc000042000310030227a7aa64f28e5274b0461b77e66a24f8bb9229c28487245d5f100");</script></div></div><div class="clear"></div></div>
<a name="kak-dobratsya" onclick="return false;"></a><h2 title="Как добраться" data-automenu="off">Как добраться до&nbsp;художественного музея Радищева в&nbsp;Саратове</h2>
<p>Адрес государственного музея Радищева: улица Радищева, дом 39. Он&nbsp;находится в&nbsp;Волжском районе, недалеко от&nbsp;Театральной площади и&nbsp;парка «Липки». В&nbsp;15&nbsp;минутах пешком расположены Речной вокзал и&nbsp;<a >набережная Волги</a>.</p>
<p>Ближайшая остановка общественного транспорта, «Соборная», находится на&nbsp;улице Московская, в&nbsp;5&nbsp;минутах ходьбы от&nbsp;саратовского музея имени А. Н. Радищева. До&nbsp;остановки курсируют:</p>
<ul>
<li><strong>Автобусы</strong> №&nbsp;11, 246, 246п, 274б, 282б, 284а, 284б, 284к.</li>
<li><strong>Троллейбусы</strong> №&nbsp;1, 4, 5.</li>
<li><strong>Маршрутные такси</strong> №&nbsp;33 и&nbsp;95.</li>
</ul>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://www.24tr.ru/saratov" class="ext_link" target="_blank">Расписание общественного транспорта Саратова</a></div>
</div>
<p>Вызвать такси можно через приложения для мобильных телефонов: RuTaxi, Яндекс.Такси и&nbsp;Maxim.</p>



{% endblock %}