{% extends 'base.html' %}
{% block title %}
Реклама
{% endblock %}
{% block body %}
<p class="fs-5 text-body-secondary"><ya-tr-span data-index="7-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Представляем вам цены наших тарифов на услуги пользования нашими серверами. Если вы хотите,что бы мы составили тариф индивидуально для вас, то звоните по телефону: +7 231-123-12-31</ya-tr-span>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis"><ya-tr-span data-index="6-0" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Наши тарифы</ya-tr-span></h1>

    </div>

<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><ya-tr-span data-index="8-0"  data-ch="0" data-type="trSpan" style="visibility: initial !important;">Бесплатно</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="9-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">0 ₽</ya-tr-span><small class="text-body-secondary fw-light"><ya-tr-span data-index="9-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="/mo" data-translation="/ месяц" data-ch="0" data-type="trSpan" style="visibility: initial !important;">/месяц</ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="10-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Включен 1 пользователь</ya-tr-span></li>
              <li><ya-tr-span data-index="11-0" data-ch="0" data-type="trSpan" data-selected="false" style="visibility: initial !important;"></ya-tr-span></li>
              <li><ya-tr-span data-index="12-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Поддержка по электронной почте</ya-tr-span></li>
              <li><ya-tr-span data-index="13-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;"></ya-tr-span></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><ya-tr-span data-index="14-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Оформить</ya-tr-span></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><ya-tr-span data-index="15-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Профессиональный</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="16-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">2500 ₽</ya-tr-span><small class="text-body-secondary fw-light"><ya-tr-span data-index="16-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="/mo" data-translation="/ месяц" data-ch="0" data-type="trSpan" style="visibility: initial !important;">/месяц</ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="17-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Включено 15 пользователей</ya-tr-span></li>
              <li><ya-tr-span data-index="18-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;"></ya-tr-span></li>
              <li><ya-tr-span data-index="19-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Приоритетная поддержка по электронной почте</ya-tr-span></li>
              <li><ya-tr-span data-index="20-0" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Доступ к справочному центру</ya-tr-span></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><ya-tr-span data-index="21-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Оформить</ya-tr-span></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal"><ya-tr-span data-index="22-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Enterprise" data-translation="Предприятие" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Предприятие</ya-tr-span></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><ya-tr-span data-index="23-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">6500 ₽</ya-tr-span><small class="text-body-secondary fw-light"><ya-tr-span data-index="23-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="/mo" data-translation="/ месяц" data-ch="0" data-type="trSpan" style="visibility: initial !important;">/месяц</ya-tr-span></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><ya-tr-span data-index="24-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Включено 50 пользователей</ya-tr-span></li>
              <li><ya-tr-span data-index="25-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;"></ya-tr-span></li>
              <li><ya-tr-span data-index="26-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Поддержка по телефону и электронной почте</ya-tr-span></li>
              <li><ya-tr-span data-index="27-0" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Доступ к справочному центру</ya-tr-span></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><ya-tr-span data-index="28-0" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Оформить</ya-tr-span></button>
          </div>
        </div>
      </div>
    </div>


  </main>

{% endblock %}