{% extends 'base.html' %}
{% block title %}
"Журавли"
{% endblock %}
{% block body %}

<h1 itemprop="name">Мемориал «Журавли» в Саратове</h1>

<div class="mainRefs g-safeContext"><div class="realpseudo_h2">Содержание</div><ul class="mainRefs_list"><li class="mainRefs_item"><a href="#istoriya">История</a></li><li class="mainRefs_item"><a href="#arhitekturnyi-ansambl">Архитектурный ансамбль</a></li><li class="mainRefs_item"><a href="#modernizaciya">Модернизация</a></li><li class="mainRefs_item"><a href="#kak-dobratsya">Как добраться</a></li></ul></div>

<div class="g-text g-safeContext p_content p_content_h2_nobg"><p>Мемориальный комплекс «Журавли»&nbsp;— это памятник местным жителям, которые пожертвовали своими жизнями в&nbsp;боях самой трагичной войны XX&nbsp;века.</p>
<div class="text_block2">Памятник «Журавли» в&nbsp;<a " rel="noopener">Парке Победы</a> Саратова&nbsp;— визитная карточка города.</div>
<p>Комплекс воздвигнут на&nbsp;рукотворном холме высотой 100&nbsp;метров на&nbsp;Соколовой горе. Благодаря месторасположению, очертания памятника видно из&nbsp;многих мест не&nbsp;только Саратова, но&nbsp;и&nbsp;Энгельса. Пассажиры теплоходов, проходящих по&nbsp;Волге вдоль Саратова, могут видеть силуэт памятника на&nbsp;расстоянии 20&nbsp;км.</p>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/6/original.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Мемориал «Журавли»">
			<meta itemprop="width" content="2304px">
			<meta itemprop="height" content="1454px">
		<div class="img_rate2015_image"><a name="img_24183006"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_24183006"><div class="img_rate2015_items_but"></div></div><a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/6/original.jpg" target="_blank" rel="noopener"><img class="" border="0" src="https://img.tourister.ru/files/2/4/1/8/3/0/0/6/clones/870_550_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Мемориал «Журавли» в Саратове"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">

			</div></div></div>
<div class="img_big" style="width: 100%;">

</div>
<a name="istoriya" onclick="return false;"></a><h2 title="История" data-topmenu="on">История памятника «Журавли» в&nbsp;Саратове</h2>
<p>Проектирование мемориала стало частью благоустройства паркового пространства на&nbsp;горе. Конкурс на&nbsp;проект мемориала погибшим воинам был объявлен в&nbsp;1977 году. Победителем стал заслуженный архитектор РСФСР Юрий Иванович Менякин. Темой мемориала была не&nbsp;темная скорбь, а&nbsp;светлая память и&nbsp;печаль.</p><div id="lx_706980" data-cnt="1" class="__lxG__multi __lxG__multi_lx_706980 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="712103" data-base-original-id="673426"><style>
	#lx_706980 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-706980-1"><div style="width: 100%;"></div></div></div>
<p>Замысел был вдохновлен строчками из&nbsp;поэзии Расула Гамзатова, которые превратились в&nbsp;знаменитую песенную композицию:</p>
<div class="text_block2">
<p>«Мне кажется порою, что солдаты,</p>
<p>С&nbsp;кровавых не&nbsp;пришедшие полей,</p>
<p>Не&nbsp;в&nbsp;землю нашу полегли когда-то,</p>
<p>А&nbsp;превратились в&nbsp;белых журавлей…».</p>
</div>
<p>Сам поэт впоследствии признавался, что стела «Журавли» в&nbsp;Саратове&nbsp;— это наиболее точное воплощение его стихов. К&nbsp;строительству мемориала приступили в&nbsp;начале 1980 года. Монтаж монумента завершился в&nbsp;апреле 1982 года.</p><div class="trstr_acrt_multipoint_61"><div class="bshow_point_61_wrapper"><div class="bshow_point_61" id="trstr_adv_point_61_0_0"><div class="banner_wrapper v3">

</div><script type="text/javascript">jQuery.ajax({ url: "/query", data: { "m": "adver->BannerViewAjax", "id": "2480" }, type: "POST", async:true });</script><script type="text/javascript">linking_adver_view("61_0_0", "e48babe200000308807fc000042000310030227a7aa64f28e5274b0461b77e66a24f8bb9229c28487245d5f100");</script></div></div><div class="clear"></div></div>
<p>Для наилучшего обзора на&nbsp;Соколовой горе был образован холм&nbsp;— его построили из&nbsp;железобетонных свай и&nbsp;земли. Вся конструкция уплотнялась специальными виброплощадками для устойчивости. Монтаж монумента выполнялся саратовским отделением «Волгостальмонтажа». Холм сразу&nbsp;же засадили кустарниками и&nbsp;газонной травой. Вокруг асфальтировали пешеходную дорожку.</p>
<p>Рассказывая об&nbsp;истории «Журавлей» Саратова, нельзя не&nbsp;упомянуть об&nbsp;авторском подходе к&nbsp;проектированию монумента. Фигурки журавлей Юрий Иванович Менякин (кстати, сам участник Великой Отечественной войны) мастерил у&nbsp;себя дома. Он&nbsp;начинал с&nbsp;малых форм, постепенно подбирая идеальные пропорции. Фигурки выливались из&nbsp;металла по&nbsp;технологии рыбачьей блесны. Весь процесс занял 3 года. Как вспоминает жена Юрия Ивановича, Ольга Менякина, вся квартира семьи была завалена журавлями, дети играли с&nbsp;отбракованными фигурками, как с&nbsp;игрушками.</p>
<p>Поэтичность скульптурной композиции настолько понравилась советским гражданам, что памятники воинам «Журавли» стали возводить в&nbsp;других городах и&nbsp;даже за&nbsp;границей. По&nbsp;фото «Журавлей» Саратова и&nbsp;других городов мы&nbsp;видим, что конструкции отличаются формой, но&nbsp;объединяются общей идеей&nbsp;— светлой памятью о&nbsp;героических душах.</p>
<div class="text_block2">Немногие знают, что 22 октября в&nbsp;России отмечается Праздник Белых Журавлей. Его учредил автор строк Р.Гамзатов, как день памяти о&nbsp;погибших в&nbsp;битвах воинах.</div>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/1/original.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Мемориал «Журавли»">
			<meta itemprop="width" content="2400px">
			<meta itemprop="height" content="1800px">
		<div class="img_rate2015_image"><a name="img_24183001"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_24183001"><div class="img_rate2015_items_but"></div></div><a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/1/original.jpg" target="_blank" rel="noopener"><img class="" border="0" src="https://img.tourister.ru/files/2/4/1/8/3/0/0/1/clones/870_653_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Мемориал «Журавли» в Саратове"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">

			</div></div></div>
<div class="img_big" style="width: 100%;">

</div>
<a name="arhitekturnyi-ansambl" onclick="return false;"></a><h2>Архитектурный ансамбль</h2>
<p>Все детали окрестностей и&nbsp;композиционное строение были строго выверены. Мемориальный комплекс памятника «Журавли» в&nbsp;Саратове состоит из: входной площади у&nbsp;подножия холма; мемориальной плиты со&nbsp;строчками посвящения; аллеи славы; фонтана памяти воинов; музея Боевой славы; самого холма с&nbsp;парадной лестницей, видовой площадкой и&nbsp;скульптурной композицией, изображающей летящих журавлей.</p>
<p>Скульптура на&nbsp;вершине холма представляет собой 3 пилона из&nbsp;железобетона (высота каждого из&nbsp;них&nbsp;— 40&nbsp;метров). В&nbsp;центре пилонов сияют золотые звезды и&nbsp;летящие клином серебристые журавли. Птиц в&nbsp;скульптурной композиции 12, они летят на&nbsp;Запад. Своеобразный клин из&nbsp;птиц символизирует бессмертие душ, погибших за&nbsp;бравое дело. Композиция птиц выполнена из&nbsp;нержавеющего металла. Клюв ведущего журавля выполнен таким образом, что, не&nbsp;нанося вреда конструкции, может колыхаться от&nbsp;ветра (радиус&nbsp;— 1&nbsp;метр).</p>
<div class="text_block2">Интересный факт: одновременно можно увидеть только 11 журавлей.</div>
<p>Пятиконечные звезды (их&nbsp;в&nbsp;композиции было 3) покрыты сусальным золотом. Две звезды располагаются на&nbsp;пилонах&nbsp;— с&nbsp;южной и&nbsp;северной сторон, третья находится под водой фонтана. Данная форма звезды была выбрана как копия с&nbsp;медали «Золотая Звезда» (госнаграда СССР для героев).</p><div class="trstr_acrt_multipoint_61"><div class="bshow_point_61_wrapper"><div class="bshow_point_61" id="trstr_adv_point_61_1_0"><div class="banner_wrapper v3">

		</div>
	</div>
</div><script type="text/javascript">jQuery.ajax({ url: "/query", data: { "m": "adver->BannerViewAjax", "id": "2197" }, type: "POST", async:true });</script><script type="text/javascript">linking_adver_view("61_1_0", "59dacb0a00000288803fe0000420003100301a9bd283ca551f8c19b381635dc957c5dc914e14241676b2c280");</script></div></div><div class="clear"></div></div>
<p>Аллея славы вымощена брусчаткой&nbsp;— материал был выбран как символ дороги к&nbsp;Победе. С&nbsp;брусчатки <a >Красной площади</a> началась борьба с&nbsp;фашизмом и&nbsp;на&nbsp;брусчатых улицах Берлина она завершилась. Брусчатка была снята с&nbsp;саратовских улиц, которые еще до&nbsp;революции были вымощены по&nbsp;госзаказу бельгийской компанией.</p>
<p>Подъем к&nbsp;памятнику по&nbsp;лестнице проходит через 5 пролетов, каждый из&nbsp;которых посвящен одному военному году и&nbsp;городам, которые в&nbsp;этот период освобождали (или обороняли) солдаты из&nbsp;Саратова.</p>
<div class="img_rate2012" width="100%" style="width:100%;height:auto;position:relative;" itemscope="" itemtype="http://schema.org/ImageObject">
			<a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/0/original.jpg" itemprop="contentUrl"></a>
			<meta itemprop="description" content="Мемориал «Журавли»">
			<meta itemprop="width" content="2400px">
			<meta itemprop="height" content="1600px">
		<div class="img_rate2015_image"><a name="img_24183000"></a><div style="width: 100%; height: 55px; bottom: -55px;" class="img_rate2015_items" id="img_rate_24183000"><div class="img_rate2015_items_but"></div></div><a href="https://img.tourister.ru/files/2/4/1/8/3/0/0/0/original.jpg" target="_blank" rel="noopener"><img class="" border="0" src="https://img.tourister.ru/files/2/4/1/8/3/0/0/0/clones/870_580_fixedwidth.jpg" width="100%" style="width:100%;height:auto;" data-fullsize="" decoding="async" alt="Мемориал «Журавли» в Саратове"></a><div class="img_rate2015_items_top" style="width: 100%; height: 55px; top: -55px; z-index: 10;">

			</div></div></div>
<div class="img_big" style="width: 100%;">

</div>
<a name="modernizaciya" onclick="return false;"></a><h2 title="Модернизация">Модернизация памятника</h2>
<p>Памятник ВОВ «Журавли» сохранял свой первоначальный облик до&nbsp;конца 90-х годов. В&nbsp;1999 году восстановительные работы были направлены не&nbsp;только на&nbsp;реновацию деталей, но&nbsp;и&nbsp;на&nbsp;дополнение мемориала. 9&nbsp;мая того года перед плитой памяти был зажжен Вечный огонь. На&nbsp;аллее славы появились новые памятные плиты с&nbsp;именами героев-жителей Саратова и&nbsp;бюсты саратовцев, дважды получивших звание героев СССР.</p><div id="lx_706980" data-cnt="2" class="__lxG__multi __lxG__multi_lx_706980 __lxG__geo_ru __lxG__multi_align_center __lxG__rendered_yandex_rsy __lxG__not_empty_block" data-original-id="712103" data-base-original-id="673426"><style>
	#lx_706980 {
        margin: 0 0 20px 0 !important;
    }
</style><div id="luxup_slot-706980-2"><div style="width: 100%;"></div></div></div>
<p>За&nbsp;следующие 15 лет трижды менялся облик мемориального камня и&nbsp;текст Посвящения на&nbsp;нем. Со&nbsp;дна фонтана была убрана третья пятиконечная звезда, теперь на&nbsp;ее&nbsp;месте высится плита из&nbsp;черного камня, так&nbsp;же был заменен облицовочный камень фонтана. На&nbsp;осветительных столбах поменяли фонари на&nbsp;матовые, вытянутой формы. Вместо тополей были высажены более мрачноватые ели. На&nbsp;фото памятника «Журавли» в&nbsp;Саратове можно увидеть, что в&nbsp;прежние времена общий ансамбль выглядел более гармонично. Многие архитекторы отмечают, что ряд изменений привел к&nbsp;утере единого архитектурного облика пространства. С&nbsp;автором проекта изменения никто не&nbsp;согласовывал.</p>
<p><strong>Панорамный вид на&nbsp;мемориал «Журавли» в&nbsp;Саратове</strong></p>
<p></p><iframe class="" width="100%" height="500" frameborder="0" style="border: 0;" allowfullscreen="allowfullscreen" src="https://www.google.com/maps/embed?pb=!4v1571844766473!6m8!1m7!1sCAoSLEFGMVFpcE50cE96eDJ3WWRYeXJMM1kxWHpkNU1weTZ4S0IwdWJXNThZX3df!2m2!1d51.544390702242!2d46.0498353963449!3f241.21995694730987!4f35.17079851645278!5f0.4000000000000002"></iframe><p></p>
<a name="kak-dobratsya" onclick="return false;"></a><h2 title="Как добраться">Как добраться до&nbsp;мемориала «Журавли» в&nbsp;Саратове</h2>
<p>Монумент «Журавли» в&nbsp;Саратове находится в&nbsp;Волжском районе. Место популярно как у&nbsp;туристов, так и&nbsp;самих горожан. Здесь&nbsp;же располагается парк Победы (также встречается название «Парк Журавли в&nbsp;Саратове») с&nbsp;обзорными площадками на&nbsp;город и&nbsp;Волгу.</p>
<p>Ближайшая остановка общественного транспорта, <a >«Парк Победы»</a>, находится в&nbsp;1&nbsp;км от&nbsp;памятника. Путь пешком пройдет по&nbsp;улице Парк Победы воль Мусульманского кладбища. До&nbsp;остановки можно доехать на:</p>
<ul>
<li><strong>автобус</strong> №&nbsp;253;</li>
<li><strong>маршрутные такси</strong> №&nbsp;34, 52, 66, 72, 94, 95.</li>
</ul>
<div class="markedTextBlock">
<div class="markedTextBlock_in"><a rel="nofollow noreferrer noopener" onclick="AddGoToLog(this, 'object');" href="http://transuprsar.ru/schems.aspx" class="ext_link" target="_blank">Расписание общественного транспорта Саратова</a></div>
</div>



{% endblock %}